{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MIS</title>

<body>
    <header>
        {%if user.is_authenticated %}
        <!--Si el usuario está autenticado y un enlace para cerrar sesión-->
            <a href="{% url 'logout' %}">Cerrar sesión</a>
            <a href="/perfil">Mi perfil</a>
            <a href="">Mi carrito</a>
            <a href="">Catalogo</a>

        {% else %}
            <a href="/login/auth0">Iniciar Sesión</a>
        {% endif %}
        </header>
        {% block body %}
        {% endblock body %}
</body>
</html>