body { background:#f8f9fb; color:#333; }

:root {
  --azul-claro: #4fa8ff;
  --azul-oscuro: #004a9f;
}

.navbar {
  transition: all 0.3s ease;
}

.text-primary { color: var(--azul-oscuro) !important; }
.bg-primary { background-color: var(--azul-claro) !important; }

.btn-primary {
  background-color: var(--azul-claro);
  border: none;
}
.btn-primary:hover { background-color: #3391ff; }

.seccion { display: none; opacity: 0; transition: opacity 0.4s ease; }
.seccion.activa { display: block; opacity: 1; }

.card img { height: 120px; object-fit: contain; }

footer { 
  margin-top: auto; 
  background-color: var(--azul-oscuro); }

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--azul-oscuro);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.clickable {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.clickable:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}
.img-fluid {
  height: 180px;
  object-fit: contain;
}