:root {
  --azul-claro: #4fa8ff;
  --azul-oscuro: #003366;
}

body {
  background-color: #f8f9fb;
  color: #222;
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  color: var(--azul-oscuro) !important;
}

.btn-primary {
  background-color: var(--azul-claro);
  border: none;
}
.btn-primary:hover {
  background-color: var(--azul-oscuro);
}

footer {
  background-color: var(--azul-oscuro);
  color: white;
}

.card {
  border: none;
  border-radius: 10px;
}

.card input, .card button {
  border-radius: 6px;
}
